<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
<body>

<h2>Teachers Data</h2>

<table>
    <thead>
      <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Option</th>
      </tr>
    </thead>
    <tbody>
      <% teacherData.forEach(teacher => { %>
        <tr>
          <td><%= teacher.id %></td>
          <td><%= teacher.firstName %></td>
          <td><%= teacher.lastName %></td>
          <td><%= teacher.email %></td>
          <td><a href = "/teachers/edit/<%=teacher.id%>">edit</a> || <a href="/teachers/delete/<%=teacher.id%>" onclick = "return confirm('delete this teacher?')"> delete</a> </td>
        </tr>
      <% })%>
    </tbody>
  </table>
  <p><a href ="/teachers/add">add teacher</a></p>
</body>
</html>

